<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
  </head>
  <body>
    <header>
      <h1>Travel App</h1>
    </header>
    <main>
      <section id="form-section">
        <h2>Travel Plans</h2>
        <form id="form">
          <p class="instructions">Please enter travel plan details:</p>
          <label for="city" class="far-left end">City:</label>
          <input type="text" id="city" name="city" class="box left">
          <label for="state" class="middle end">State:</label>
          <input type="text" id="state" name="state" class="box middle-left">
          <label for="country" class="right end">Country:</label>
          <select id="country" class="box far-right" name="country">
            <option value="" disabled selected hidden>Choose one:</option>
          </select>
          <label for="start-date" class="far-left end margin-top">Departure:</label>
          <input type="text" id="start-date" name="start-date margin-top" class="box left margin-top" placeholder="mm/dd/yyyy">
          <label for="end-date" class="middle end margin-top">Return:</label>
          <input type="text" id="end-date" name="end-date" class="box middle-right margin-top" placeholder="mm/dd/yyyy">
          <button id="submit-form" class="box far-right margin-top" type="submit">Submit Form</button>
        </form>
        <p id="note" class="invisible">Processing Data...</p>
      </section>
      <section id="results-section" class="invisible"></section>
    </main>
    <footer>
      <a href="https://pixabay.com/"><img width="70px" src="../media/pixabay_logo.png"></a>
      <p class="copy">&copy;2020 Laura Franklin</p>
    </footer>
  </body>
</html>
