<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
  </head>
  <body>
    <header>
      <h1>Travel App</h1>
    </header>
    <main>
      <section id="form-section">
        <h2>Travel Plans</h2>
        <p class="instructions">Please enter travel plan information:</p>
        <form id="form">
          <div class='set left'>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" class="box">
          </div>
          <div class='set middle'>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" class="box">
          </div>
          <div class='set right'>
            <label for="country">Country:</label>
            <select id="country" class="box" name="country">
              <option value="" disabled selected hidden>Choose one:</option>
            </select>
          </div>
          <div class='set left'>
            <label for="start-date">Departure:</label>
            <input type="text" id="start-date" name="start-date" class="box" placeholder="mm/dd/yyyy">
          </div>
          <div class='set middle'>
            <label for="end-date">Return:</label>
            <input type="text" id="end-date" name="end-date" class="box" placeholder="mm/dd/yyyy">
          </div>
          <div class='set right'>
            <button id="submit-form" class="box" type="submit">Submit Form</button>
          </div>
        </form>
        <p id="note" class="invisible">Processing Data...</p>
      </section>
      <section id="results-section" class="invisible"></section>
    </main>
    <footer>
      <a href="https://pixabay.com/"><img width="70px" src="../media/pixabay_logo.png"></a>
      <p class="copy">&copy;2020 Laura Franklin</p>
    </footer>
  </body>
</html>
